/*
Font: 		Presto Variable
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T13632/presto
Foundry: 	Type Juice
Foundry: 	https://www.youworkforthem.com/designer/1454/type-juice
Copyright:	TypeJuice© 2020
Version: 	17
Created:	February 06, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'PrestoVariable';
	src: url('presto-variable.eot');
	src: url('presto-variable.eot?#iefix') format('embedded-opentype'),
             url('presto-variable.woff2') format('woff2'),
	     url('presto-variable.woff') format('woff'),
	     url('presto-variable.ttf') format('truetype'),
	     url('presto-variable.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
