// @font-face {
//   font-family: 'fv';
//   // src: url('~assets/fonts/AvenirNext-Bold.eot');
//   src: url('~assets/fonts/fv.woff2') format('woff2');
//   // url('~assets/fonts/AvenirNext-Bold.woff') format('woff');
//   //  url('~assets/fonts/AvenirNext-Bold.ttf') format('truetype'),
//   //  url('~assets/fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg'),
//   //  url('~assets/fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype');
// }
// @import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&display=swap');

@font-face {
  font-family: 'gotik';
  src: url('/~assets/fonts/gotik.ttf') format('truetype' supports variations);
  src: url('/~assets/fonts/gotik.ttf') format('truetype');
  font-display: swap;
  font-weight: 100 900;
}
