//@import 'assets/scss/font.scss';
@import 'assets/scss/variables.scss';
@import 'assets/scss/font.scss';

@import 'assets/scss/proyectos.scss';

footer {
  padding: 12.5vw 6.25vw;
  a {
    font-size: 5vw;
    color: #000;
  }
}
* {
  box-sizing: border-box;
}
//HOME
nav {
  -webkit-mix-blend-mode: difference;
  -moz-mix-blend-mode: difference;
  -o-mix-blend-mode: difference;
  -ms-mix-blend-mode: difference;
  mix-blend-mode: difference;
  user-select: none;
  width: 100%;
  position: relative;
  z-index: 2;

  .nav_wrapper {
    position: fixed;
    z-index: 1;
    display: grid;
    width: 100vw;
    grid-template-columns: [l1] $ml [m1] auto auto auto [m2] $mr [r1];
    grid-template-rows: [t1] $mt auto 1em [b1];
    grid-gap: 0;
    grid-template-areas:
      '. . . . .'
      '. nav_logo . nav_link .'
      '. . . . .';

    .logo {
      grid-area: nav_logo;
      max-width: 120px;
      mix-blend-mode: exclusion;
    }
    .nav {
      grid-area: nav_link;
      a {
        font-stretch: 100%;
        font-weight: 100vh;
      }
    }
  }
}

.home_top {
  display: grid;
  grid-template-columns: [l1] $ml [m1] auto auto auto [m2] $mr [r1];
  grid-template-rows: [t1] $mt auto 1em [b1];
  grid-gap: 0;
  grid-template-areas:
    '. . . . .'
    '. welcome welcome welcome .'
    '. . . . .';
  width: 100%;
  height: 100vh;
  user-select: none;
  overflow: hidden;
  background: #000;

  &_welcome {
    grid-area: welcome;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: [l1] auto auto auto [r1];
    grid-template-rows: [t1] auto auto auto auto [b1];
    grid-gap: 0;
    width: 100%;
    align-items: center;
    grid-template-areas:
      '. . . .'
      'welcome welcome welcome welcome'
      'welcome welcome welcome welcome'
      '. . . .';
    z-index: 2;
    &_nav {
      grid-area: welcome;

      .nav_home {
        display: grid;
        grid-template-columns: [l1] auto 30% 30% 30% auto [r1];
        grid-template-rows: [t1] auto auto auto [b1];
        grid-gap: 0;
        grid-template-areas:
          '. home home home .'
          'work work work . .'
          'business about about about .';
        width: 100%;
        .dest {
          margin-bottom: 0.5em;
          span {
            line-height: 0.7em;
            letter-spacing: -0.01em;
            font-size: 17.2vmin; //calc(4em + 4vw);
          }
        }
        .home_top_welcome_title {
          grid-area: business;
          font-size: 1.4em;
          text-transform: uppercase;
          line-height: 1em;
          font-weight: 100;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          margin-top: 0.5em;

          div {
            justify-self: flex-end;
          }
          .title2 {
            margin-right: 2vw;
            letter-spacing: 0.1em;
          }
        }
        .nav_home_home {
          grid-area: home;
          min-width: 60vw;
          justify-self: start;
          padding-right: 10vw;
        }
        .nav_home_work {
          grid-area: work;
          min-width: 60vw;
          justify-self: start;
          padding-right: 10vw;
        }
        .nav_home_about {
          grid-area: about;
          min-width: 60vw;
          justify-self: start;
          padding-right: 10vw;
          margin-left: 2vh;
        }
      }
    }
  }
  .image_back {
    grid-column-start: l1;
    grid-column-end: r1;
    grid-row-start: t1;
    grid-row-end: b1;
    z-index: 1;
    image {
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
  }
}
.content_interior {
  position: relative;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

[data-scroll-trigger] {
  clip-path: inset(0% 0% 0% 0%);
}
.example.horizontal {
  width: 500vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 212, 125, 0.6);

  h1 {
    line-height: 1;
    margin: 0;
    color: #000;
    font-size: 6em;
    height: 60vh;
    font-stretch: 60%;
    font-weight: 200;
  }
}

.example-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.example-big-square {
  width: 50vw;
  padding-top: 50vw;
  background-color: #000;
}

.example-small-square {
  width: 25vw;
  padding-top: 25vw;
  background-color: #000;
}

// .example-big-image {
//   img {
//     width: 100%;
//     width: 50vw;
//     height: auto;
//     display: block;
//   }
// }

.example.horizontal header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.example.horizontal footer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 12.5vw;
}
.example-section {
  height: 100vh;
}
.example.horizontal .example-section {
  width: 100vw;
}

.example.vertical .example-section,
.example.vertical footer {
  padding-top: 50vw;
}

.example-fade-text {
  padding: 12.5vw 6.25vw;
  h2 {
    font-size: 5vw;
  }
}
