.proyecto {
  display: flex;
  width: 100%;
  user-select: none;
  //   overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  .proyecto_tipo {
    width: 100%;
    margin: 10vw 0;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 0;

    .bg {
      display: none;
    }
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .tipo_1 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	.	.	.	.	.	.	data	data	data	data	data	data	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	.	.	.	.	.	.	data	data	data	data	data	data	.	.	.	.	.	.	.	.	';

    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 8;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  .tipo_2 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	data	data	data	data	data	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	data	data	data	data	data	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	.	.	.	.	.	.	media_2	media_2	media_2	media_2	media_2	media_2	.	.	.	.	.	.	.	.	';

    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 8;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  .tipo_3 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	.	.	.	.	.	.	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	.	.	.	.	data	data	data	data	data	data	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	.	.	.	.	.	data	data	data	data	data	data	.	.	.	.	.	.	.	.	.	.	';

    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 8;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  .tipo_4 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	.	.	.	.	.	.	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	data	data	data	data	data	data	.	.	.	.	.	.	.	'
      '	.	.	.	.	.	.	.	.	.	data	data	data	data	data	data	.	.	.	.	.	.	.	';

    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 8;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  .tipo_5 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	.	.	.	.	.	.	.	'
      '	.	.	.	.	.	.	.	.	media_2	media_2	media_2	media_2	media_2	media_2	.	data	data	data	data	data	data	.	'
      '	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	data	data	data	data	data	data	.	';
    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 13;
      grid-column-end: 18;
      grid-row-start: 2;
      grid-row-end: 4;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  .tipo_6 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	.	.	.	.	.	.	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	.	.	.	.	.	.	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	data	data	data	data	data	data	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	data	data	data	data	data	data	.	';

    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 8;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  .tipo_7 {
    grid-template-columns: repeat(22, [col] 1fr);
    grid-template-rows: repeat(10, 9.2%);
    grid-template-areas:
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	.	.	.	.	.	.	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	media_3	media_3	media_3	media_3	media_3	media_3	.	'
      '	.	media_1	media_1	media_1	media_1	media_1	media_1	.	media_2	media_2	media_2	media_2	media_2	media_2	.	.	.	.	.	.	.	.	'
      '	.	.	.	.	.	.	.	.	media_2	media_2	media_2	media_2	media_2	media_2	.	data	data	data	data	data	data	.	'
      '	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	data	data	data	data	data	data	.	';
    .proyecto_title {
      grid-column-start: 2;
      grid-column-end: 19;
      grid-row-start: 3;
      grid-row-end: 4;

      .proyecto_title_int {
        text-align: left;
      }
    }
    .proyecto_arrow {
      grid-column-start: 13;
      grid-column-end: 18;
      grid-row-start: 2;
      grid-row-end: 4;
      svg {
        max-width: 350px;
        object-fit: contain;
      }
    }
    .proyecto_media_1 {
      grid-area: media_1;
      height: 100%;
    }
    .proyecto_media_2 {
      grid-area: media_2;
      height: 100%;
    }
    .proyecto_media_3 {
      grid-area: media_3;
      height: 100%;
    }
    .proyecto_data {
      grid-area: data;
    }
  }
  @media (max-width: 768px) {
    height: 100vh;
    .proyecto_tipo {
      width: 100%;
      height: 100%;
      margin: 0;
      grid-template-columns: [l1] 3vw auto 3vw [r1];
      grid-template-rows: [t1] auto auto [t2];
      grid-template-areas:
        '. title .'
        '. data .';
      overflow: hidden;
      .proyecto_title {
        grid-area: title;
        align-self: flex-end;
        z-index: 3;
      }
      .proyecto_arrow {
        display: none;
      }
      .proyecto_media_1 {
        grid-column-start: l1;
        grid-column-end: r1;
        grid-row-start: t1;
        grid-row-end: t2;
        height: auto;
        z-index: 1;
        img {
          width: 100%;
          height: 110vh;
        }
      }
      .proyecto_data_content {
        z-index: 3;
      }
      .bg {
        display: block;
        grid-column-start: l1;
        grid-column-end: r1;
        grid-row-start: t1;
        grid-row-end: t2;
        height: 100%;
        z-index: 0;
      }
      .proyecto_media_2,
      .proyecto_media_3 {
        display: none;
      }
    }
  }
}
